<div class='story-body'>
    <div class='chart' id='chart-6'></div>
</div>

<script src="scripts/force-diag.js"></script>



<style>

.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

</style>