   <div class="story-body">




    <div id="chart-0" class="chart">
      </div> 
      </div> 

<script src="scripts/dashboard/covid_ages_heading.js"></script> 


  <div class="story-body">



<div class="story-body">

   
    <div id="chart-1" class="chart">
      </div>

      

</div>

<script src="scripts/dashboard/age_dist.js"></script>