   <div class="story-body">




    <div id="chart-0" class="chart">
      </div> 
      </div> 

<script src="scripts/dashboard/covid_cases_heading.js"></script> 

 <div class="story-body">

        <div id="nav-container">
  <button id="toggle3" >Since March</button>

  <button id="toggle4" >Past 30 days</button>

</div>
</div>

<div class="story-body">

   
    <div id="chart-2" class="chart">
      </div>

      

</div>

<script src="scripts/dashboard/bars_hospitalizations.js"></script>