   <div class="story-body">




    <div id="chart-0" class="chart">
      </div> 
      </div> 

<script src="scripts/dashboard/covid_rate_heading.js"></script> 

<div class="story-body">

         <div id="nav-container">
  <button id="toggle9" >Since March</button>

  <button id="toggle10" >Past 30 days</button>

</div>
    <div id="chart-5" class="chart">
      </div>

      

</div>

<script src="scripts/dashboard/rate.js"></script>