   <div class="story-body">




    <div id="chart-0" class="chart">
      </div> 


<script src="scripts/dashboard/homepage.js"></script> 

    <div id="chart-1" class="chart">
      </div> 


<script src="scripts/dashboard/homepage_2.js"></script> 

</div>