   <div class="story-body">



{{!-- <a href="https://ctmirror.org/2020/11/30/covid-in-ct-the-data-that-tell-the-story/"> --}}

    <div id="chart-0" class="chart">
      </div> 
{{!-- </a> --}}

<script src="scripts/dashboard/homepage.js"></script> 
{{!-- <a href="https://ctmirror.org/2020/11/30/covid-in-ct-the-data-that-tell-the-story/"> --}}
    <div id="chart-1" class="chart">
      </div> 
{{!-- </a> --}}

<script src="scripts/dashboard/homepage_2.js"></script> 

</div>