   <div class="story-body">




    <div id="chart-0" class="chart">
      </div> 
      </div> 

<script src="scripts/dashboard/covid_county_hosps_heading.js"></script> 

<div class="story-body">

    <div id="chart-2" class="chart">
      </div>

      

</div>

<script src="scripts/dashboard/county_hosps.js"></script>