<div class="story-body">

   
    <div id="chart-1" class="chart">
      </div>

      

</div>

<script src="scripts/dashboard/bars_master.js"></script>

<div class="story-body">

   
    <div id="chart-2" class="chart">
      </div>

      

</div>

<script src="scripts/dashboard/bars_hospitalizations.js"></script>

<div class="story-body">

   
    <div id="chart-3" class="chart">
      </div>

      

</div>

<script src="scripts/dashboard/bars_deaths.js"></script>

<div class="story-body">

   
    <div id="chart-4" class="chart">
      </div>

      

</div>

<script src="scripts/dashboard/weekly_rates.js"></script>