 <p>Cases</p>
 <div class="story-body">

        <div id="nav-container">
  <button id="toggle" >Since March</button>

  <button id="toggle2" >Past 30 days</button>

</div>
</div>

<div class="story-body">

   
    <div id="chart-1" class="chart">
      </div>

      

</div>

<script src="scripts/dashboard/bars_master.js"></script>

 <p>Hospitalizations</p>
 <div class="story-body">

        <div id="nav-container">
  <button id="toggle3" >Since March</button>

  <button id="toggle4" >Past 30 days</button>

</div>
</div>

<div class="story-body">

   
    <div id="chart-2" class="chart">
      </div>

      

</div>

<script src="scripts/dashboard/bars_hospitalizations.js"></script>

 <p>Deaths</p>
 <div class="story-body">

        <div id="nav-container">
  <button id="toggle5" >Since March</button>

  <button id="toggle6" >Past 30 days</button>

</div>
</div>


<div class="story-body">

   
    <div id="chart-3" class="chart">
      </div>

      

</div>

<script src="scripts/dashboard/bars_deaths.js"></script>

 <p>Weekly rate</p>
<div class="story-body">

   
    <div id="chart-4" class="chart">
      </div>

      

</div>

<script src="scripts/dashboard/weekly_rates.js"></script>

 <p>Nursing homes</p>
<div class="story-body">
 <div id="nav-container">
  <button id="toggle7" >Since March</button>

  <button id="toggle8" >Past 30 days</button>

</div>
</div>
   
    <div id="chart-5" class="chart">
      </div>

      

</div>

<script src="scripts/dashboard/nursing_homes.js"></script>