<div class="story-body">
        <p>A current editor at my college paper asked me to look into basketball retention rates for men and women's teams at Brown. I scraped roster information from the Brown Athletics website using selenium and cleaned it with pandas. This is some of the stuff I found. You can find a link to my jupyter notebook with analysis here and those lovely clean datasets here.</p>
<iframe title="Class composition of men's basketball team" aria-label="Stacked Bars" id="datawrapper-chart-ZvuJr" src="//datawrapper.dwcdn.net/ZvuJr/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="366"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script>
    <p>It looks as though the team is somewhat balanced between underclassmen and upperclassmen, and has been consistently so for the past 10 years (with the notable exception of 2018, where it looks like they couldn't recruit any freshmen). I wonder how they keep this balance.</p>
    <h2>Of the players who are not seniors, what percentage does the team lose each year?</h2>
    <p>There are a few spikes in this data!</p>
    <div id="chart-1"></div>

</div>

<script src="scripts/bball-class.js"></script>