<div class='story-body'>Link to the repo <a href='https://github.com/kpananjady/buyouts-jersey'>here!</a></div>

<div class="story-body scrollytelling image-stepper">
<div id="chart-04" class="chart">
<img src='images/houses/house-try.png' id="grid-step-0"></img>
<img src='images/houses/house3.png' id="grid-step-1"></img>
<img src="images/houses/house2.png" id="grid-step-2"></img>
<img src='images/houses/house1.png' id="grid-step-3"></img>
<img src='images/houses/house-final.png' id="grid-step-4"></img>

</div>

    <div class="steps">
    <div class="step" data-show-selector='#grid-step-0'><p>Natural disasters are on the rise, and some say policy makers should consider making a “managed retreat”.</p>
</div>

    <div class="step" data-show-selector='#grid-step-0'><p> 
That’s a fancy way of saying the government should buy out property owners in flood-prone areas instead of repeatedly paying  insurance claims to rebuild. But it’s complicated. Recent research shows the current buyout regime varies widely by state, does not correlate with where the damage is occuring, and might even bring with it a racial disparity.

</div>

    <div class="step" data-show-selector='#grid-step-1'><p>Citing NOAA, a CNBC article states that “from 2016 to 2018, the average number of billion-dollar disasters totaled 15 each year, while the average for 1980–2018 was just 6.2 events per year.” A Federal Emergency Management Agency  official quoted in the story makes the case that “the need for forward-leaning action is greater than ever before."</p>    

</div>



    <div class="step" data-show-selector='#grid-step-2'><p>Given the urgency of climate change, it’s surprising at first to discover that the overall numbers of buyouts in the country are decreasing. That is, until you disaggregate the data by state — a classic case of Simpson’s paradox, where the national trend obscures interesting local analyses. In 1993, Missouri and Illinois alone took over 5,000 buyouts due to storms and flooding, contributing to the trend’s all time high of 8,000. But while the participation of the Midwest in the program has steadily dwindled by hundreds, the program has seen steady if small upticks in participation among states on the East Coast.</p> 
</div>
{{!--  --}}
{{!-- Is it appropriate for student mentors to deal with mental health issues presented to them by other students? On the one hand, it seems extremely important—the peer relationship in itself is one that encourages comfort through shared experiences. --}}

{{!-- It seems equally important, however, that students realize that seeking help from professional sources is not necessarily a sign of illness. --}}

    </div>
</div>

<script src="scripts/delhi-scrollytelling.js"></script>

{{!-- <div class="story-body scrollytelling image-stepper">
    <div id="chart-5" class="chart"></div>
        <div class="steps">
            <div class="step" data-show-selector='#grid-step-0'><p>As headlines about climate change abound, you might believe that the frequency and devastation of natural disasters is on the rise. And you’d be right; citing NOAA, a CNBC article states that “from 2016 to 2018, the average number of billion-dollar disasters totaled 15 each year, while the average for 1980–2018 was just 6.2 events per year.” A Federal Emergency Management Agency  official quoted in the story makes the case that “the need for forward-leaning action is greater than ever before.”</p>
            </div>
        </div>
</div>
<script src="scripts/us_cartogram-2.js"></script> --}}


<div class="story-body scrollytelling">
    <h2>An analysis of FEMA buyouts, 1989-2017</h2>
    <p>Circles are sized by the number of buyouts recieved, and colored by the decade in which the state in question peaked in its participation in the program.</p>
    <div id="chart-5"></div>
</div>

<script src="scripts/us_cartogram-2.js"></script>

<div class="story-body scrollytelling image-stepper">

    <div id="chart-06" class="chart">
        <img src='images/houses/house-try.png' id="grid-step-0"></img>
        <img src='images/houses/house3.png' id="grid-step-1"></img>
        <img src="images/houses/house2.png" id="grid-step-2"></img>
        <img src='images/houses/house1.png' id="grid-step-3"></img>
        <img src='images/houses/house-final.png' id="grid-step-4"></img>

    </div>

    <div class="steps">
        <div class="step" data-show-selector='#grid-step-2'><p>It is tempting to look at the geographic distribution of buyouts and tell a tale of changing climate vulnerability in the United States; certainly this hypothesis plays out in the context of buyouts in New York, New Jersey and parts of New England, as there is a clear link between increasing numbers of buyouts and Superstorm Sandy. But a recent Science Advances study published in October raises concern about social equity in this context and suggests that buyouts don’t paint a simple picture of changing disaster zones. Rather, there are confounding variables that determine whether or not communities take buyouts, independent of the level of damage they might suffer — such as how white and wealthy they might be.</p></div>


        <div class="step" data-show-selector='#grid-step-3'><p>As a Houma Today editorial from October put it, “The top three states in total property damage are in the middle of the buyout pack. Florida had $98.8 billion in damage, Louisiana $85.4 billion and Mississippi $34.2 billion. Yet Florida is 24th in the number of homes purchased, Mississippi 22nd and Louisiana 19th, with a total of just over 2,000 buyouts in the three states.”</p></div>

        <div class="step" data-show-selector='#grid-step-3'><p>An NPR investigation from earlier this year found that buyouts disproportionately went to whiter and wealthier communities in the country. One reason for this might be that FEMA provides only 75 percent of the funding required to execute a buyout project. The findings of the October study complicate this picture slightly; researchers found that while the counties that participated in buyout programs tended to be wealthy, zipcodes in which buyouts where implemented were not necessarily so. This finding gives rise to concerns about urban displacement among vulnerable groups, and it wouldn’t be the first time; in post-Katrina New Orleans, the “green dot” redevelopment program caused great consternation among African American residents in the city.</p></div> 

        <div class="step" data-show-selector='#grid-step-4'><p>If it is indeed true that large-scale buyouts need to be part of the conversation about climate change, making sure that we completely understand the social implications of their implementation so far needs to be a priority.</p> </div>
    </div>
</div>

<script src="scripts/delhi-scrollytelling.js"></script>


{{!-- <style>
path {
  stroke: #000;
  stroke-width: 1px;
}
</style> --}}

<style>
  .hide-image {
    display: none;
  }
</style>