<div class="story-body">
   
   {{!-- <div id="chart-0" class="chart">
        <img src='images/house_green.png'></img>
    </div> --}}


        <div id="nav-container">

  <button id="toggle" >Start Animation</button>
      </div>

    <div id="chart-1" class="chart">
      </div>

      

</div>

<script src="scripts/motel.js"></script>

