<div class="story-body">
   
   {{!-- <div id="chart-0" class="chart">
        <img src='images/house_green.png'></img>
    </div> --}}


        <div id="nav-container">

  <button id="toggle" >2019-20</button>
    <button id="toggle2" onClick="window.location.reload();" >Reset to 2011-12</button>

      </div>

      <div id="chart-0" class="chart">
      </div>

      

</div>

<script src="scripts/motel-heading.js"></script>

    <div id="chart-1" class="chart">
      </div>

      

</div>

<script src="scripts/motel.js"></script>

