<div class="story body">
    <img src='images/delhi-lines.png'></img>

</div>

<div class="story-body scrollytelling image-stepper">
<div id="chart-04" class="chart">
<img src='images/delhi-lines.png' id="grid-step-0"></img>
<img src='images/Delhi-14-November.png' id="grid-step-1"></img>
<img src="images/delhi-children'sday.png" id="grid-step-2"></img>
<img src='images/delhi-cricket.png' id="grid-step-3"></img>
</div>

    <div class="steps">
    <div class="step" data-show-selector='#grid-step-0'>In 2016, the Delhi government closed schools for 3 days for the first time. Ditto in 2017; in 2018, no schools were closed. This year, the government has shut down schools twice in a span of two weeks. But shutting down schools in a bandaid fix. Consider the fact that one of the days on which schools were shut down this year, November 14, was Children's Day, the birthday of India's first ever prime minister. On the left, you'll see pollution levels for the day — they did not dip below 'Severe'.</div>

    <div class="step" data-show-selector='#grid-step-1'>People on Twitter were up in arms when it turned out that children were running around the capital on a day where the government had expressly forbidden their going to school.</div>

    <div class="step" data-show-selector='#grid-step-1'>That same day, India played Bangladesh in an all day test series. While it's impossible to know how many students were present at that match in particular, just four days previously over 4,000 tickets went to school children in the city who wanted to see the match.</div>

    <div class="step" data-show-selector='#grid-step-1'><a href='https://blogs.brown.edu/international-writers/2016/10/23/international-travel/' target="_blank">"I decide then that, if ever I live in New York City, I will come to Central Park every day. The quiet, its peacefulness, is otherworldly."</a></div>

    <div class="step" data-show-selector='#grid-step-1'>
    <p>

    {{!-- <div id="chart-3"></div> --}}
    </div>
    <div class="step" data-show-selector='#grid-step-2'><a href='https://www.goodreads.com/author/show/7371881.Beatrice_Bugane' target="_blank"></a></div>
{{!--  --}}
        <div class="step" data-show-selector='#grid-step-3'><a href='https://www.psychologytoday.com/us/blog/psy-college-y-today/201510/friends-are-the-new-family' target="_blank"></a></div>
{{!-- Is it appropriate for student mentors to deal with mental health issues presented to them by other students? On the one hand, it seems extremely important—the peer relationship in itself is one that encourages comfort through shared experiences. --}}

{{!-- It seems equally important, however, that students realize that seeking help from professional sources is not necessarily a sign of illness. --}}

    </div>
</div>

<script src="scripts/delhi-scrollytelling.js"></script>

<style>
  .hide-image {
    display: none;
  }
</style>