
    <div class="story-body">




    <div id="chart-0" class="chart">
      </div> 
      </div> 

<script src="scripts/2016_heading.js"></script> 

    <div id="chart-1" class="chart">
      </div>
      </div> 
<script src="scripts/2016_map_margins.js"></script>