<div class="story-body scrollytelling">
   
   {{!-- <div id="chart-0" class="chart">
        <img src='images/house_green.png'></img>
    </div> --}}
 
        <div id="nav-container">
  <button id="toggle" >Registered Voters</button>
  <button id="toggle2">% Applied for Absentee Ballots</button>
  <button id="toggle3">% Returned Absentee Ballots</button>

</div>


    <div id="chart-1" class="chart">
      <div id="cont">
      <select id="selectButton"></select>
      </div>
      </div>

      

</div>

<script src="scripts/ballot_tracker.js"></script>

