<div class="story-body scrollytelling">
    <h2>From 2016, the Bronx saw former English Langauge Learners start outperforming native speakers. Let's break his down into small multiples to see how individual schools did in this period.</h2>
    <p>I reverse engineered this design idea from <a href="https://www.nytimes.com/interactive/2014/06/05/upshot/how-the-recession-reshaped-the-economy-in-255-charts.html">the New York Times</a>.</p>
    <p>Since 2016, the Bronx has seen former English Langauge Learners start outperforming native speakers. Start scrolling to see how it works!</p>

    <div id="chart-4" class="chart">
    </div>

    <div class="steps">
      <div class='step' id='step-centered'>
        <h2>These are 66 public schools in the Bronx that reported data for every year between 2014-2019. There are 117 schools in the Bronx in total.</h2>
        <p>Each line represents the performance of former English Language Learners — known as Ever ELLs — between 2014 and 2019 in 8th Grade ELA. The lines are colored based on whether performance has increased or decreased relative to performance in 2014 and how sharp this increase/decrease is. Lines are also positioned on the x axis based on the number of former English Language Learners students in each school; schools further to the right have more of these students. The biggest gains — colored in dark green — were made in schools with a lot of former English language students or relatively few, and the preponderance of green shows that most schools saw improvements.</p>
      </div>
      <div class='step' id='step-jobs'>
        <p>Now that we have an idea of how each school improved relative to its own performance in 2014, let's compare them with each other. I'm moving schools out on the y axis based on how many former English Language Learners achieved a passing grade or more. Schools that are higher saw a higher graduation rate in 2019; the median graduation rate — represented by the schools clustered in the middle — was 45 percent. The lowest performing schools which saw decreased performance over this period also had relatively few ELL students.</p>
      </div>
      <div class='step' id='step-highlight'>
        <p>Purple lines are schools where "Ever ELLs" outperformed "Never ELLs" in 2019. The majority of schools in this sample saw former English Language Learners outperform native speakers, especially in the top of the pack.</p>
      </div>
      <div class='step' id='step-final'>
        <p>In 2016, these students first began outperforming native speakers, and this population has lead borough-wide by a 9-10 percent margin over the past two years.</p>
      </div>
    </div>
</div>

<script src="scripts/ELL.js"></script>
