<div class="story-body scrollytelling">
    <h2>How long would it take your to outperform a native speaker in a new language?</h2>
    <p>I reverse engineered this design idea from <a href="https://www.nytimes.com/interactive/2014/06/05/upshot/how-the-recession-reshaped-the-economy-in-255-charts.html">the New York Times</a>.</p>
    <p>Start scrolling to see how it works!</p>

    <div id="chart-4" class="chart">
    </div>

    <div class="steps">
      <div class='step' id='step-centered'>
        <h2>These are 67 public schools in the Bronx that reported data for every year between 2014-2019.</h2>
        <p>Each line represents the performance of former English Language Learners — known as Ever ELLs — between 2014 and 2019 in 8th Grade ELA. The lines are colored based on whether performance has increased or decreased relative to performance in 2014. Lines are also positioned on the x axis based on the number of former ELL students in each school; schools further to the right have more ELL students.</p>
      </div>
      <div class='step' id='step-jobs'>
        <p>Just to emphasize the difference in performance, I'm going to move these lines around based on the how much performance has improved in these schools relative to the 2014 baseline. As you can see, most schools saw improvements in performance. Hover on a line to see the name of the school.</p>
      </div>
      <div class='step' id='step-highlight'>
        <p>Purple lines are schools where Ever ELLs outperformed Never ELLs in 2019.</p>
      </div>
      <div class='step'>
        <p>Some schools that have barely seen improvement between 2014 and 2019 in former ELL performance are still colored purple, which means that Ever ELL students are still outperforming their Never ELL counterparts. These schools cluster around the dotted line.</p>
      </div>
    </div>
</div>

<script src="scripts/ELL.js"></script>
