<div class="story-body">

    <div id="chart-0" class="chart">
      </div> 
      </div> 

 <script src="scripts/eversource/eversource_heading.js"></script>
     
<div class="story-body">

    <div id="chart-1" class="chart">
      </div>
      </div> 
<script src="scripts/eversource/eversource_bars.js"></script>




</div>