
<div class="story-body">

    <div id="chart-0" class="chart">
      </div> 
      </div> 

<script src="scripts/excess_heading.js"></script>     

<div class="story-body">

    <div id="chart-1" class="chart">
                <div id="nav-container">

         <button id="toggle" >All Deaths</button>
  <button id="toggle3">Non-COVID deaths</button>
         </div> 

      </div>
      </div> 
<script src="scripts/excess.js"></script>