<div class='story-body'>

 <div id="chart-0" class="chart">
      </div> 
      </div> 

<script src="scripts/inmates_heading.js"></script> 

    <div class='chart' id='chart-6'></div>
</div>

<script src="scripts/force-diag_2.js"></script>



<style>

.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

</style>