<div class="story-body scrollytelling">
   
   {{!-- <div id="chart-0" class="chart">
        <img src='images/house_green.png'></img>
    </div> --}}
    <div id="nav-container">
  <div id="toggle">% Affordable Housing</div>
    <br>
  <div id="toggle2">% Black and Hispanic</div>

</div>



    <div id="chart-1" class="chart">
      </div>

</div>

<script src="scripts/ct-map.js"></script>

