   
   {{!-- <div id="chart-0" class="chart">
        <img src='images/house_green.png'></img>
    </div> --}}
 <div class="story-body">

        <div id="nav-container">
  <button id="toggle" >% Not Trump</button>
  <button id="toggle2">% De La Fuente</button>
  <button id="toggle3">% Uncommitted</button>

</div>
</div>


   
   {{!-- <div id="chart-0" class="chart">
        <img src='images/house_green.png'></img>
    </div> --}}


<div class="story-body">

    <div id="chart-0" class="chart">
      </div> 
      </div> 

 <script src="scripts/ct-map-trump-heading.js"></script>
     
<div class="story-body">

    <div id="chart-1" class="chart">
      </div>
      </div> 
<script src="scripts/ct-map-trump.js"></script>




</div>



