

<div class="story-body">
    <h2>July</h2>
    <p>In red are the drought years; in blue, below average rain for the month. Hover to see the amount of rainfall received and the years.</p>
    <div id="chart-1"></div>
</div>

<script src="scripts/monsoon-1.js"></script>

<div class="story-body">
    <h2>This is why the media is so fixated on July rainfall. You generally know by the middle of the month if the monsson has failed.</h2>
    <p>Any year that has rain under 10 percent of the mean monsoon rainfall is considered a drought year. By comparison, here's below average rain in August and June and how they line up with drought years.</p>
</div>

<div class="story-body">
    <h2>June</h2>
    <p>Hover to see the amount of rainfall received and the years.</p>
    <div id="chart-2"></div>
</div>

<script src="scripts/monsoon-2.js"></script>

<div class="story-body">
    <h2>August</h2>
    <p>Hover to see the amount of rainfall received and the years.</p>
    <div id="chart-3"></div>
</div>
<script src="scripts/monsoon-3.js"></script>


{{!-- <div class="story-body">
  
  <!-- If you use images, the path is just images/___ -->
  <p style="text-align: center"><img src="images/JJAS_rolling_bounds.png"></p>
  
</div> --}}

<div class="story-body scrollytelling">
    <div class="steps">
    <div class="step" id = "test">
    <h2>Below average July rainfall is the best predictor of drought in India</h2>
    <p>In fact, June rainfall is inversely correlated with July rainfall, so a strong June month is often a bad sign.</p>
    {{!-- <div id="chart-3"></div> --}}
    </div>
    </div>
</div>


