<div class="story-body">
    <h2>Below average July rainfall is the best predictor of drought in India</h2>
    <p>I have the <code>script</code> tag that points to <code>chart-01.js</code> inside of this partial</p>
    <div id="chart-1"></div>
</div>

<script src="scripts/monsoon-1.js"></script>

<div class="story-body">
    <h2>Below average July rainfall is the best predictor of drought in India</h2>
    <p>I have the <code>script</code> tag that points to <code>chart-01.js</code> inside of this partial</p>
    <div id="chart-2"></div>
</div>

<script src="scripts/monsoon-2.js"></script>


<div class="story-body">
    <h2>Below average July rainfall is the best predictor of drought in India</h2>
    <p>I have the <code>script</code> tag that points to <code>chart-01.js</code> inside of this partial</p>
    <div id="chart-3"></div>
</div>

<script src="scripts/monsoon-3.js"></script>


<div class="story-body">
  
  <!-- If you use images, the path is just images/___ -->
  <p style="text-align: center"><img src="images/JJAS_rolling_bounds.png"></p>
  
</div>

<div class="story-body">
    <h2>Below average July rainfall is the best predictor of drought in India</h2>
    <p>I have the <code>script</code> tag that points to <code>chart-01.js</code> inside of this partial</p>
    <div id="chart-3"></div>
</div>


