   
   {{!-- <div id="chart-0" class="chart">
        <img src='images/house_green.png'></img>
    </div> --}}


<div class="story-body">

    <div id="chart-0" class="chart">
      </div> 
      </div> 

 <script src="scripts/mortgage_heading.js"></script>
     
<div class="story-body">

    <div id="chart-1" class="chart">
      </div>
      </div> 
<script src="scripts/mortgage_map.js"></script>


