<div class="story-body scrollytelling">
   
   {{!-- <div id="chart-0" class="chart">
        <img src='images/house_green.png'></img>
    </div> --}}
 
        <div id="nav-container">
  <button id="toggle" >Confirmed Cases</button>
  <button id="toggle2">Suspected Cases</button>

</div>


    <div id="chart-1" class="chart">
      </div>

      

</div>

<script src="scripts/scatter_nh.js"></script>

