<div class="story-body">
    <h2>Hit rates and race</h2>
    <p>Rate of success in finding contraband is lower among minorities than white people. This suggests that minorities are searched based on flimsier evidence once they're stopped when compared to white people. Hover over for precise hit rates. In this analysis, we will focus on black-white disparities.</p>
    <div id="chart-01"></div>
</div>

<script src="scripts/traffic-1.js"></script>

<div class="story-body">
    <h2>White hit rate vs black hit rate disaggregated by precinct</h2>
        <p>Only six precincts reported both black and white successful searches. This analysis assumes that the department entry <code>000</code> was the same as <code>0</code>. Four out of six departments had lower black hit rates than white ones. The dots are sized according to the cumulative number of white and black searches. Hover to see what the numbers are.</p>
        <div class="chart-row" >
            <div style="text-align:center;" class="chart">
        <div id="chart-02"></div>
        </div>
        </div>
        </div>

<script src="scripts/traffic-2.js"></script>

<div class="story-body">
    <h2>Veil of Darkness Test</h2>
        <p>Moving away from searching for a second, the hypothesis I'm trying to test here is: Does darkness have an effect on the likelihood of black drivers being stopped while driving? The theory is that  </p>
        </div>

