   <div class="story-body">




    <div id="chart-0" class="chart">
      </div> 
      </div> 

<script src="scripts/wage_unemployment_heading.js"></script> 

<div class="story-body">

    <div id="chart-2" class="chart">
      </div>

      

</div>

<script src="scripts/wages_unemployment.js"></script>