---
headline: "Brown basketball retention rates"
subhead: "Looking at 10 years of rosters to spot trends in retention rates"
published_date: "October 27, 2019"
site: "http://www.littlecolumns.com"
siteName: "Little Columns"
url: "http://littlecolumns.com/learn/d3-javascript-tooling/"
kicker: "BASKETBALL"
author:
    name: "Kasturi Pananjady"
    url: "http://jonathansoma.com/"
    twitterHandle: "@kpananjady"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->




{{!< default}}

<!-- 
  Put some content into an .hbs file inside of /partials, 
  and you can just throw it in anywhere!
-->



<!-- 
  Charts are exactly the same.
-->

{{> story/brown-bball }}

<!-- 
  If you want to use something exported from ai2html...
    1. Rename the exported .html file to .hbs
    2. Put the .hbs file inside of 'html/story'
    3. Move the exported images to the images folder
    4. Include the partial normally like below
  -->


<!--
  You can also put the actual HTML here if you really want to,
  although it's a little less organized looking
-->

<div class="story-body">
   
</div>
