---
headline: "Kasturi Pananjady"
subhead: "A blog of in-progress data journalism work and classwork from the Columbia Journalism School"
published_date: "October 18, 2019"
site: "http://www.littlecolumns.com"
siteName: "Little Columns"
url: "http://littlecolumns.com/learn/d3-javascript-tooling/"
kicker: "AN EVOLVING PORTFOLIO WEBSITE"
author:
    name: "Kasturi Pananjady"
    url: "http://www.browndailyherald.com/author/kasturipananjady/"
    twitterHandle: "@kpananjady"
analytics": ""
---
<!-- 
  
  This line means, use default.hbs layout from src/html/layouts/
-->


<div class="story-body">
 <p>Hi! My name is Kasturi Pananjady, and I am a data journalism master's student at Columbia University. I have previously worked at <a href='http://www.browndailyherald.com/author/kasturipananjady/'>The Brown Daily Herald</a>, <a href='https://thewire.in/caste/kakkoos-divya-bharathi-arrest-reasons'>The Wire</a> and <a href='https://www.thehindu.com/profile/author/Kasturi-Pananjady/'>The Hindu</a>. Those links should take you to the work I did there.</p>
 <p>This is a website where I'm documenting some of the fabulous things I am learning in class. I often go back and revise my work when I feel like I can do a better job, so expect some changes! For instance, this iteration of my portfolio tinkers a lot with interactivity and responsiveness. In the further work section of my projects I often mull over what I'd like to do next. If you have feedback, please send it my way so I can add it to my list of things I need to learn!</p> 
<p>P.S. I love pandas.</p>
 {{!-- {{> story/basic }} --}}

<h2>My personal projects</h2>
<p><a href='sample.hbs'>I got really excited about sentiment analysis and then came to my senses</a></p>
<p><a  href='monsoon.hbs'>I looked into why it feels like all I read about in July is rainfall in India</a></p>
<p><a  href='traffic.hbs'>I sliced Rhode Island data in all sorts of ways to try to define racial bias in policing</a></p>
<p><a href='bball.hbs'>I learned a lot about how much I don't know about college basketball while making this one</a></p>
<p><a href='carousel.hbs'>I tried to process the loss of a friend by collecting her words</a></p>
<p><a href='cartogram.hbs'>I got myself psyched about my masters project again by making a cartogram</a></p>
<p><a href='ELL.hbs'>I stole a design concept from the New York Times for an education story</a></p>
<p><a href='rapes.hbs'>I looked at why instituitional change in India can be so difficult after all the rapes this year</a></p>


<h2>Schoolwork that I'm going to repurpose for my projects</h2>
{{!-- <p><a href='final-rough.hbs'>I spent a lot more time scraping than visualizing this mock up for a class final project</a></p> --}}
<p><a href='hw13.hbs'>Here's radial d3 work.</a></p>
<p><a href='hw15.hbs'>Here's some scrollytelling and responsive design </a></p>
<p><a href='maps.hbs'>Here's some mapwork </a></p>

<h2>Here's a piece I did that I'm proud of</h2>
<p><a href='access.hbs'>Accessibility data memo.</a></p>
<p><a href='ct.hbs'>Here's the link to CT maps.</a></p>
<p><a href='nursinghomes.hbs'>Here's the link to Nursing Homes</a></p>



<h2>Idea bank - TK TK</h2>
<p>Analyzing how the pitch of female Bollywood playback singers has changed over the years + comparing that to pitch of actresses lip synching. Prelim analysis <a href='https://github.com/kpananjady/bollywood'>here</a></p>
<p>What's the earning gap between the top tennis players and the people who keep getting knocked out of early round matches?</p>
<p>For every sentence that Dad in Fleabag starts, how many does he finish?</p>
<p>The Academie Française makes French equivalents for slang adopted from English. Do they ever usurp anglophone inventions?</p>
</div>



{{!< default}}


{{!-- <div class="story-body">
    <h4>A note on the name</h4>
    <p class="chart-source">Numberwang is recurring comedy sketch in <i>That Mitchell and Webb Look</i> about guessing the number known as Numberwang. Dire consequences await you if you get it wrong. It's hard to explain. Think of it like debugging code. Olivia Coleman is probably the most famous NumberWang contestant there ever was.</p>
</div> --}}
