---
headline: "New York Times comments and Democratic candidates"
subhead: "A sentiment analysis of a week's worth of comments on NYT Op-Ed pages highlighting how Democrats are faring with this demographic."
published_date: "October 13, 2019"
site: "http://www.littlecolumns.com"
siteName: "Little Columns"
url: "http://littlecolumns.com/learn/d3-javascript-tooling/"
kicker: "AI to HTML + RESPONSIVE DESIGN in SAWHORSE"
author:
    name: "Kasturi Pananjady"
    url: "https://kpananjady.github.io"
    twitterHandle: "@kpananjady"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

<!-- 
  Put some content into an .hbs file inside of /partials, 
  and you can just throw it in anywhere!

-->

{{> story/templates }}

<!-- 
  Charts are exactly the same.
-->


<div class="story-body">
    <h2>Further Work</h2>
    <p>This chart was originally made using bokeh, but I decided that the interaction bokeh provided didn't ask much to this chart and so exported it into ai2html so I could annotate instead.</p>
</div>
