---
headline: "New York Times comments and Democratic candidates"
subhead: "A sentiment analysis of a week's worth of comments on NYT Op-Ed pages highlighting how Democrats are faring with this demographic."
published_date: "October 13, 2019"
site: "http://www.littlecolumns.com"
siteName: "Little Columns"
url: "http://littlecolumns.com/learn/d3-javascript-tooling/"
kicker: "AI to HTML + RESPONSIVE DESIGN in SAWHORSE"
author:
    name: "Kasturi Pananjady"
    url: "https://kpananjady.github.io"
    twitterHandle: "@kpananjady"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

<!-- 
  Put some content into an .hbs file inside of /partials, 
  and you can just throw it in anywhere!

-->

{{> story/templates }}

<!-- 
  Charts are exactly the same.
-->

<div class="story-body scrollytelling">
	<div class = 'steps'>
  		<div class = "step" id = 'center'>
    	<h2>Further Work</h2>
    	<p>This chart was originally made using bokeh, but I decided that the interaction bokeh provided didn't add much to this chart and so exported it into ai2html so I could annotate instead. It's also responsive, which is cool. This inspiration for this analysis can be found <a href='https://towardsdatascience.com/another-twitter-sentiment-analysis-with-python-part-3-zipfs-law-data-visualisation-fc9eadda71e7'>here</a>, where I also learned about Zipf's law. The law basically says that the most frequent word in a sample (usually a preposition or a conjunction or the like) occurs twice as the second most frequent word, and three times as many times as the third most frequent word, and so on. This data fit the Zipf model perfectly, which didn't seem counterintuitive enough to visualize but might be something I revisit to understand better.</p>
    	</div>
  	</div>
</div>
