---
headline: "Is there racial bias in policing?"
subhead: "An analysis of traffic stop data in Rhode Island from 2005-2015"
published_date: "October 14, 2019"
site: "http://www.littlecolumns.com"
siteName: "Little Columns"
url: "http://littlecolumns.com/learn/d3-javascript-tooling/"
kicker: "STANFORD OPEN POLICING PROJECT"
author:
    name: "Kasturi Pananjady"
    url: "http://jonathansoma.com/"
    twitterHandle: "@dangerscarf"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->


<div class="story-body">
    <p>You can find a link to the data <a href='https://openpolicing.stanford.edu/data/'>here</a>, and the Stanford methodology <a href='https://openpolicing.stanford.edu/tutorials/'>here</a>. I used pandas, seaborn, ai2html and d3 to analyze and visualize interesting findings.</p>
</div>


{{!< default}}

<!-- 
  Put some content into an .hbs file inside of /partials, 
  and you can just throw it in anywhere!
-->

<!-- 
  Charts are exactly the same.
-->

{{> story/traffic }}

<!-- 
  If you want to use something exported from ai2html...
    1. Rename the exported .html file to .hbs
    2. Put the .hbs file inside of 'html/story'
    3. Move the exported images to the images folder
    4. Include the partial normally like below
  -->


<!--
  You can also put the actual HTML here if you really want to,
  although it's a little less organized looking
-->
{{> story/black_sunset_all_pdf_2 }}

<div class="story-body">
    <h2>Further Work</h2>
    <p>I haven't yet run a regression on the Veil of Darkness Test; when Columbia covers algorithms in the spring I'll give it a go. I also haven't made an attempt to identify precincts yet, which would be the next step in terms of data verification and further exploration.</p>
</div>
