<div class="story-body scrollytelling">
    <h1>C H A R T * O N E</h1>
    <p>Once upon a time we built this for homework</h2>
    <p>Yes, it's pretty terrible. But we're going to turn it into responsive scrollytelling anyway.</p>

    <div id="chart-1" class="chart">
    </div>

    <div class="steps">
      <div class='step'>
        <p><strong>Requirements:</strong></p>
        <ul>
          <li>Each button should be turned into a step (scroll down to see them).</li>
          <li>When I resize, the graphic should scale to the <strong>width of its container, but not the height</strong>.</li>
          <li>It would be nice if you gave me a sentence to pretend this is a story instead of just "here's Africa!" Not that we have a strong story, of course.</li>
        </ul>
      <p>It should look like <a href="assets/chart-1.mp4">this</a> when you're done.</p>
      </div>
      <div class='step'>
        <p>
          <a id="asia-btn" class="btn btn-warning">Asia</a>
          <a id="africa-btn" class="btn btn-warning">Africa</a>
          <a id="na-btn" class="btn btn-warning">North America</a>
          <a id="low-gdp-btn" class="btn btn-warning">Low GDP countries</a>
          <a id="continent-btn" class="btn btn-warning">Color by continent</a>
          <a id="reset-btn" class="btn btn-warning">Reset</a>
        </p>
      </div>


  	


      <div class='step' id = 'asia-step'>Here's a story for Asia</div>
      <div class='step' id = 'africa-step'>Here's a story for Africa</div>
      <div class='step' id = 'namerica-step'>Here's a story for North America</div>
      <div class='step' id = 'samerica-step'>Here's a story for South America</div>
      <div class='step' id = 'lowgdp-step'>Here's a story for Low GDP</div>
      <div class='step' id = 'continent-step'>Here's a step for continents</div>
      <div class='step' id = 'reset-step'>Back to normal!</div>

    </div>
</div>

<script src="scripts/homework-15/01-chart.js"></script>
