
<body>
<audio id="my_audio" src="assets/bia.m4a" loop="loop"></audio>

<div id="top">
    <div class="header-content container p-b-2">
        <div class="row bg-white">
            <div class="col-md-9 p-t-2 p-b-2">
                <h2 class="p-t-2 m-b-3">
                    <div class='image'>
                    <a href="https://www.instagram.com/bookswithbeatrice/?hl=en">
                      <br>
                        Friend,<br>
                        Mentor,<br>
                        <span class="typing-words">
                			<span class="word" text="Design">Singer</span><span class="word" text="Line 2">Reader</span><span class="word" text="Line 3.">Writer</span><span class="word" text="Line 4">Reader</span><span class="word" text="Line 5">Mentor</span><span class="word" text="Line 2">Reader</span><span class="word" text="Line 6">Friend.</span>
                		</span>
                    </a>
                    </div>
                </h2>
            </div>
            <div class="col-md-3 p-t-2 p-b-2">
                <blockquote class="blockquote">
                    {{!-- <h6 class="text-xs-right small"><a href="" class="text-faded">Be a Try Hard.</a></h6> --}}
                </blockquote>
                
            </div>
        </div>
    </div>
</div>

<div class='story-body'>
  <br>
  <p>Bia passed away last week. I spent the past weekend reading everything she read and everything she wrote. I didn't come away with a lot of answers, but I did come away with a desire to preserve the words of someone I deeply admire.</p>
  <p>You can find all of Bia's published work on this page. You can also see some of the writers who made a mark on her.</p>
</div>

<div class="story-body">
    <div class="scene">
  <div class="carousel">
          {{!-- <div class="carousel-cell">1</div>
<p>newline</p> --}}
    <div class="carousel__cell"><img src='images/jhumpa.png' ></img></div>
    <div class="carousel__cell">For much of my life, I wanted to belong to a place, either the one my parents came from or to America, spread out before us. - Jhumpa Lahiri</div>
    <div class="carousel__cell"><img src='images/james.png' ></img></div>
    <div class="carousel__cell">.. the conquest of the physical world is not (wo)man's only duty. (S)he is also enjoined to conquer the greatest wilderness of (her)self. - James Baldwin</div>
    <div class="carousel__cell"><img src='images/alberto.png' ></img></div>
    <div class="carousel__cell">We have this almost useless tool, which is language, which doesn't affect anything or transmits a mistaken meaning of what we are trying to say, and yet we persist. - Alberto Manguel</div>
    <div class="carousel__cell"><img src='images/isabel.png' ></img></div>
    <div class="carousel__cell">I can see them as the infants they were when they were just born, the people they will be when they are adolescents or adults. - Isabel Allende</div>
    <div class="carousel__cell"><img src='images/stanford.png' ></img></div>
    <div class="carousel__cell">I closed my mother’s eyes<br>
when she died<br>
and again, my father’s<br>

I made no fortune<br>
no headlines<br>
nothing went viral<br>

I sang and danced<br>
for no one - Mary Poindexter McLaughlin</div>
  </div>
</div>
</div>
{{!--  --}}

<div class="carousel-options">
  <p>
    <label>
      {{!-- Cells --}}
      <input class="cells-range radio" type="range" min="3" max="15" value="9" />
    </label>
  </p>
  <p>
    <button class="previous-button">Previous</button>
    <button class="next-button">Next</button>
  </p>
  <p>
    {{!-- Orientation: --}}
    <label>
      <input class='radio' type="radio" name="orientation" value="horizontal" checked />
      {{!-- horizontal --}}
    </label>
    <label>
      {{!-- <input type="radio" name="orientation" value="vertical" />
      vertical --}}
    </label>
  </p>
</div>
<script src="scripts/bia-carousel.js"></script>
</body>

<br>
Bia was a graduate student at the University of Oregon. I last saw her in New York about a year ago while she was working for her work permit to come through. About that summer, she wrote, "Between all the reading I’ve been doing, for work and for fun; volunteering at the New York Public Library; writing short stories and submitting a story, today, to a literary journal; living in the city; visiting bookstores and coffeeshops... Well, I’m not published yet. But I do feel as though I am living my dream." Her first short story was published a year ago, in December 2018. Click on her words to read them where they orginally appeared.
<br> 
<br>

<div class="story-body scrollytelling image-stepper">
<div id="chart-04" class="chart">
<img src='images/maple/maple-spring.png' id="grid-step-0"></img>
<img src='images/maple/maple-autumn00.png' id="grid-step-1"></img>
<img src='images/maple/maple-autumn01.png' id="grid-step-2"></img>
<img src='images/maple/maple-autumn.png' id="grid-step-3"></img>
<img src='images/maple/maple-lateautumn.png' id="grid-step-4"></img>
<img src='images/maple/maple-winter.png' id="grid-step-5"></img>
<img src='images/maple/maple-final.png' id="grid-step-6"></img>
</div>

    {{!-- <div id="chart-2"></div> --}}
    <div class="steps">
    <div class="step" data-show-selector='#grid-step-0'><a href='https://blogs.brown.edu/international-writers/2016/10/23/international-travel/'>" I decide then that, if ever I live in New York City, I will come to Central Park every day. The quiet, its peacefulness, is otherworldly."</a></div>

    <div class="step" data-show-selector='#grid-step-1'>
    <p><a href='https://blogs.brown.edu/international-writers/2016/04/03/a-child-of-diplomacy/'>“But—Mom,” I say, “sometimes… Sometimes when I think about maybe,” I pause; should I say it? I do—“Maybe living permanently abroad, I feel like…” I sigh. “Like maybe I’m betraying Brazil.”</p>
<p>“Are you kidding?” Her response is immediate, because it has to be. “You wouldn’t be betraying anybody. You would be helping. You would be helping Brazil.”</p>

<p>How? I want to ask, and I think I say it, too: I think I demand a response from her. I myself don’t believe it’s true, not in that moment, but it becomes clear to me, again, how important it is that someone I care about believe it, no—that precisely my mother believe it."</a></p>
    {{!-- <div id="chart-3"></div> --}}
    </div>
    <div class="step" data-show-selector='#grid-step-2'><a href='https://www.goodreads.com/author/show/7371881.Beatrice_Bugane'>"It reminds me vaguely of my fascination with a squirrel I once saw swiftly running along a tree trunk. I do not remember where I have seen it. Perhaps I never did, and I read it in a book instead."</a></div>
{{!--  --}}
        <div class="step" data-show-selector='#grid-step-3'><a href='https://www.psychologytoday.com/us/blog/psy-college-y-today/201510/friends-are-the-new-family'>"There’s something about a swinging door, friends filing in and out of a room at their will, that brings with it a sense of freedom and comfort."</a></div>
{{!-- Is it appropriate for student mentors to deal with mental health issues presented to them by other students? On the one hand, it seems extremely important—the peer relationship in itself is one that encourages comfort through shared experiences. --}}

{{!-- It seems equally important, however, that students realize that seeking help from professional sources is not necessarily a sign of illness. --}}
    <div class="step" data-show-selector='#grid-step-4'><a href='https://www.psychologytoday.com/us/blog/psy-college-y-today/201509/mentorshipor-psychotherapy'>"Is it appropriate for student mentors to deal with mental health issues presented to them by other students? On the one hand, it seems extremely important—the peer relationship in itself is one that encourages comfort through shared experiences.

It seems equally important, however, that students realize that seeking help from professional sources is not necessarily a sign of illness."</a></div>

    <div class="step" data-show-selector='#grid-step-5'><a href='http://www.acentosreview.com/November2018/beatrice-bugane.html'>"...a man on the other side, dressed in a glittering, green cape, danced to Frank Sinatra’s New York, New York, which played loudly on a handheld radio. He had a microphone set up and was lip-synching, hitting every beat with a snap of his limbs."</a></div>
    <div class="step" data-show-selector='#grid-step-5'><a href='http://www.acentosreview.com/November2018/beatrice-bugane.html'>"Brazilians are just more extroverted, you know?” a friend of hers had said, when comparing, with some lament, with some <i>saudades</i> for her own country, Americans and Brazilians. Luciana wondered whether anything about her communicated any of this. She was decidedly not an extrovert, but she wanted desperately to appear Brazilian. As much as she had spent more recent years in life trying to be anything but, in her deepest of hearts she wanted that more than anything, to appear, to be, Brazilian."</a></div>

    <div class="step" data-show-selector='#grid-step-6'><a href='https://www.facebook.com/projectlets/photos/a.533734283371343/2602134039864680/?type=3&__xts__%5B0%5D=68.ARAjDQDH7i6jS49RRmwXmizPBOtR3h_aojrBVnL69y91n7dD5Cgzkmt57dtwDPlT0bxau1dOfXFpPJKJ6ReqPdBRGTJeq4UDpiRcOfUihtBS_03PK8Ma6muo0ipnhx9lYV5FZ9mJd5ebP-1HlP-EPCZEf59ywsEXzSzRDhe85XR-ZThn6ZVHPLtY5MF9kZUGMMrup_5CkvMAFWPF3nCFqjx5yTA9Cl06RMrJa2t3b3Zcg2qoAi9CutWxiVJNduB0NHGecbfBZe98Y1iDt9hFc6U1KmHhZ1BXGktneFQKHUc_Sc9uO_ohvWvkHMtJ1NFtCczOFgfETUK_kIFvEHz9Deu1IA&__tn__=-R'>"Walked past Anthony Bourdain’s former restaurant today to see loving messages posted there in memory. 'Talking about it can change everything,' one of them says. Yes, it can, and yet talking is often not enough. If you know your loved one is in need, you will have to do more than that. Offer your time, a listening ear, words of encouragement, or even better, if you can, your presence. Offer your patience and your nonjudgmental attention. Your perspective taking and empathy. Offer your company. Offer your love. And try to give that person hope.❤️ #letserasethestigma"</a></div>

    </div>
</div>

<script src="scripts/bia-scrollytelling.js"></script>




<div class='story-body'>
  <br>
  <h4>Note</h4>
  <p>I scraped Bia's facebook and instagram feeds for books and quotes. I found links to published work on Twitter. If you think something should be here but isn't, please let me know.</p>
</div>